{erl_opts, [debug_info]}.
{deps, [
    {cowlib, {git,"git@git-mw.uk365office.co.uk:external/cowlib.git", {tag,"1.0.2"}}},
    {ranch, {git,"git@git-mw.uk365office.co.uk:external/ranch.git", {tag,"1.1.0"}}},
    {cowboy, {git,"git@git-mw.uk365office.co.uk:external/cowboy.git", {tag,"1.1.2"}}}
]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [minesweeper]}
]}.
